.custom-button {
    padding: 12px 24px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background: #eaeaea;
    border-radius: 6px;
}

.custom-button:hover {
    background: #cfcfcf;
}

.custom-button .button-image {
    width: 18px;
    height: 18px;
}

.custom-button .button-image img {
    width: 100%;
    height: 100%;
}

.custom-button h3 {
    font-size: 14px;
    font-weight: bold;
}
