.content_website-icon {
	position: absolute;
	height: 48px;
	width: 48px;
	top: -28px;
	z-index: 2;
	cursor: pointer;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content_website-icon img {
	height: 100%;
	width: 100%;
	padding: 4px 6px;
	border-radius: 8px;
}

.lower__content .content__website-name {
	position: absolute;
	width: 90%;
	z-index: 1;
	top: 20px;
	padding: 12px 0;
	font-size: 16px;
	color: #333;
	text-align: center;
}
