.container__customInput {
    height: 48px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #777;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.container__customInput:focus-within {
    border: 1px solid rgb(37, 150, 190);
}

.container__customInput input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background: transparent;
    font-size: 14px;
    padding: 0 8px;    
    color: rgb(75, 75, 75);
}

.container__customInput img {
    height: 36px;
    width: 36px;
    right: 4px;
    position: absolute;
}
