/*input*/
.middle__input-area {
	width: 90%;
	margin: 8px 0;
}

.middle__input-area::after {
	content: '';
	display: block;
	margin-top: 12px;
	border-bottom: 1px solid #333;
}

.middle__input-area:last-child::after {
	content: '';
	border: none;
}


.middle__input-area .input-area__time {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.middle__input-area .input-area__time .time__title {
	font-size: 16px;
}

.middle__input-area .input-area__time .time__input {
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.middle__input-area .input-area__time .time__input input {
	width: 96px;
	padding: 8px;
	border-radius: 4px;
	text-align: center;
	outline: none;
	border: 1px solid #333;
	appearance: textfield;
	font-size: 16px;
	font-weight: 500;
	margin-right: 8px;
}

.middle__input-area .input-area__time .time__input input.inValid {
	animation: blink 4s;
	animation-iteration-count: 4;
}

@keyframes blink {
	0% {
		border-color: #f00;
	}

	50% {
		border-color: #555;
	}
}

.middle__input-area .input-area__time .time__input input:focus {
	outline: none;
}
