.section_focus-bottom {
    width: 100%;
    height: 160px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_focus-bottom .button {
    padding: 12px 24px;
    margin-bottom: 8px;
    border: 1px solid #666;
    border-radius: 8px;
    background: rgb(154, 205, 50);
    width: 80%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_focus-bottom .button h3 {
    font-size: 18px;
}

.section_focus-bottom .go-options-btn {
    background: #d6d6d6;
}

.section_focus-bottom .start-session-btn:hover {
    background: rgb(173, 223, 173);
}

.section_focus-bottom .go-options-btn:hover {
    background: #b6abab;
}
