.Snackbar {
    height: 80px;
    visibility: visible;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
}

.Snackbar .snack__icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.Snackbar .snack__icon img {
    width: 100%;
    height: 100%;
}

.Snackbar .snack__title {
    font-size: 16px;
    color: #fff;
}
