* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* popup */
.App {
  width: 368px;
  height: 448px;
}

/* options page */
.Options {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.Options .options__navbar {
  position: fixed;
  height: 100%;
  width: 256px;
  z-index: 2;
  box-sizing: initial;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 8px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.Options .options__container {
  position: absolute;
  height: 100%;
  width: calc(100% - 261px);
  top: 0;
  left: 261px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.Options .options__container .options_section {
  height: 100%;
  width: 100%;
  display: none;
}

.Options .options__container .options_section.active {
  display: block;
}

.blur {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  pointer-events: none;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #777;
}
