.Focusblock .options__focus-blockedsites {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.Focusblock .options__focus-blockedsites .Focusblock__header {
    gap: 4px;
    width: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.Focusblock .options__focus-blockedsites .Focusblock__header h2 {
    width: 90%;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.Focusblock .options__focus-blockedsites .list-content__substitute {
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Focusblock .Focusblock__list-content {
    width: 100%;
    height: 96%;
    overflow-y: scroll;
    border-radius: 18px;
    border: 1px solid rgb(205, 205, 205);
}

.Focusblock .Focusblock__list-content .block-added-list {
    width: 100%;
    height: 100%;
}
