.FocusSection {
	width: 100%;
	height: 100%;
	padding-top: 44px;
}


/*.main__focus_section_top*/
.FocusSection .main__focus_section_top {
	width: 100%;
	height: 100%;
	display: flex;
	/*display: none;*/
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.FocusSection .main__focus_section_top .section_focus-top {
	width: 100%;
	flex: 0.3;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.FocusSection .main__focus_section_top .section_focus-middle {
	width: 100%;
	flex: 0.4;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.FocusSection .main__focus_section_top .section_focus-bottom {
	width: 100%;
	flex: 0.3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.main__focus_section_top .section_focus-top .top__info {
	text-align: center;
	max-width: 70%;
}

.main__focus_section_top .section_focus-top .top__info h1 {
	font-size: 24px;
	text-transform: uppercase;
}

.main__focus_section_top .section_focus-top .top__info h4 {
	font-size: 14px;
	margin-top: 4px;
	font-weight: 400;
}

